<h2 mat-dialog-title>Editar usuário</h2>
<form [formGroup]="form" (submit)="submit()">

	<mat-dialog-content class="mat-typography">
		<div class="row">
			<div class="col-6">
				<mat-form-field appearance="standard">
					<mat-label>Nome</mat-label>
					<input matInput formControlName="firstName" autocomplete="off" required theme="dp-material" />
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<mat-form-field appearance="standard">
					<mat-label>Sobrenome</mat-label>
					<input matInput formControlName="lastName" autocomplete="off" required theme="dp-material" />
				</mat-form-field>
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				<mat-form-field appearance="standard">
					<mat-label>Email</mat-label>
					<input matInput formControlName="email" placeholder="email@example.com" required
						theme="dp-material" />
				</mat-form-field>
			</div>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>Cancelar</button>
		<button color="primary" mat-button cdkFocusInitial>Salvar</button>
	</mat-dialog-actions>
</form>