// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// material themes
@import "./material/material-dark";
@import "./material/material-light";

// $nb-themes: nb-register-theme((
//   layout-padding-top: 2.25rem,

//   menu-item-icon-margin: 0 0.5rem 0 0,

//   card-height-tiny: 13.5rem,
//   card-height-small: 21.1875rem,
//   card-height-medium: 28.875rem,
//   card-height-large: 36.5625rem,
//   card-height-giant: 44.25rem,
//   card-margin-bottom: 1.875rem,
//   card-header-with-select-padding-top: 0.5rem,
//   card-header-with-select-padding-bottom: 0.5rem,

//   select-min-width: 6rem,

//   slide-out-background: #f7f9fc,
//   slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
//   slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
// ), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    option-list-border-radius: 0,
    slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
    slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
    color-primary-100: #c6f8e1,
    color-primary-200: #90f1ce,
    color-primary-300: #55d6b3,
    color-primary-400: #2bae96,
    color-primary-500: #00796e,
    color-primary-600: #006868,
    color-primary-700: #004f57,
    color-primary-800: #003946,
    color-primary-900: #002a3a,
    color-primary-transparent-100: rgba(0, 121, 110, 0.08),
    color-primary-transparent-200: rgba(0, 121, 110, 0.16),
    color-primary-transparent-300: rgba(0, 121, 110, 0.24),
    color-primary-transparent-400: rgba(0, 121, 110, 0.32),
    color-primary-transparent-500: rgba(0, 121, 110, 0.4),
    color-primary-transparent-600: rgba(0, 121, 110, 0.48),
    color-success-100: #e3f9d1,
    color-success-200: #c2f4a5,
    color-success-300: #92de72,
    color-success-400: #63be4a,
    color-success-500: #2c931c,
    color-success-600: #1a7e14,
    color-success-700: #0e6910,
    color-success-800: #085510,
    color-success-900: #054611,
    color-success-transparent-100: rgba(44, 147, 28, 0.08),
    color-success-transparent-200: rgba(44, 147, 28, 0.16),
    color-success-transparent-300: rgba(44, 147, 28, 0.24),
    color-success-transparent-400: rgba(44, 147, 28, 0.32),
    color-success-transparent-500: rgba(44, 147, 28, 0.4),
    color-success-transparent-600: rgba(44, 147, 28, 0.48),
    color-info-100: #caedfb,
    color-info-200: #96d7f8,
    color-info-300: #5fb5ea,
    color-info-400: #3791d5,
    color-info-500: #0361ba,
    color-info-600: #024b9f,
    color-info-700: #013785,
    color-info-800: #00276b,
    color-info-900: #001b59,
    color-info-transparent-100: rgba(3, 97, 186, 0.08),
    color-info-transparent-200: rgba(3, 97, 186, 0.16),
    color-info-transparent-300: rgba(3, 97, 186, 0.24),
    color-info-transparent-400: rgba(3, 97, 186, 0.32),
    color-info-transparent-500: rgba(3, 97, 186, 0.4),
    color-info-transparent-600: rgba(3, 97, 186, 0.48),
    color-warning-100: #fcf2c9,
    color-warning-200: #f9e395,
    color-warning-300: #edc95f,
    color-warning-400: #dcad37,
    color-warning-500: #c68700,
    color-warning-600: #aa6e00,
    color-warning-700: #8e5700,
    color-warning-800: #724300,
    color-warning-900: #5f3400,
    color-warning-transparent-100: rgba(198, 135, 0, 0.08),
    color-warning-transparent-200: rgba(198, 135, 0, 0.16),
    color-warning-transparent-300: rgba(198, 135, 0, 0.24),
    color-warning-transparent-400: rgba(198, 135, 0, 0.32),
    color-warning-transparent-500: rgba(198, 135, 0, 0.4),
    color-warning-transparent-600: rgba(198, 135, 0, 0.48),
    color-danger-100: #fdd1d2,
    color-danger-200: #fba5af,
    color-danger-300: #f37692,
    color-danger-400: #e75382,
    color-danger-500: #d8206d,
    color-danger-600: #b9176b,
    color-danger-700: #9b1066,
    color-danger-800: #7d0a5c,
    color-danger-900: #670655,
    color-danger-transparent-100: rgba(216, 32, 109, 0.08),
    color-danger-transparent-200: rgba(216, 32, 109, 0.16),
    color-danger-transparent-300: rgba(216, 32, 109, 0.24),
    color-danger-transparent-400: rgba(216, 32, 109, 0.32),
    color-danger-transparent-500: rgba(216, 32, 109, 0.4),
    color-danger-transparent-600: rgba(216, 32, 109, 0.48),
  ),
  material-light,
  material-light
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    option-list-border-radius: 0,
    slide-out-background: linear-gradient(270deg, #1f1f1f 0%, #292929 100%),
    slide-out-shadow-color: 0 4px 14px 0 #292929,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #292929,
  ),
  material-dark,
  material-dark
);

$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    option-list-border-radius: 0,
    slide-out-background: linear-gradient(270deg, #e0e0e0 0%, #ebebeb 100%),
    slide-out-shadow-color: 0 4px 14px 0 #ebebeb,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #ebebeb,
    color-primary-100: #c6f8e1,
    color-primary-200: #90f1ce,
    color-primary-300: #55d6b3,
    color-primary-400: #2bae96,
    color-primary-500: #00796e,
    color-primary-600: #006868,
    color-primary-700: #004f57,
    color-primary-800: #003946,
    color-primary-900: #002a3a,
    color-primary-transparent-100: rgba(0, 121, 110, 0.08),
    color-primary-transparent-200: rgba(0, 121, 110, 0.16),
    color-primary-transparent-300: rgba(0, 121, 110, 0.24),
    color-primary-transparent-400: rgba(0, 121, 110, 0.32),
    color-primary-transparent-500: rgba(0, 121, 110, 0.4),
    color-primary-transparent-600: rgba(0, 121, 110, 0.48),
    color-success-100: #e7fbde,
    color-success-200: #cbf7bf,
    color-success-300: #a3e798,
    color-success-400: #7bcf77,
    color-success-500: #4caf50,
    color-success-600: #379643,
    color-success-700: #267d39,
    color-success-800: #18652f,
    color-success-900: #0e532a,
    color-success-transparent-100: rgba(76, 175, 80, 0.08),
    color-success-transparent-200: rgba(76, 175, 80, 0.16),
    color-success-transparent-300: rgba(76, 175, 80, 0.24),
    color-success-transparent-400: rgba(76, 175, 80, 0.32),
    color-success-transparent-500: rgba(76, 175, 80, 0.4),
    color-success-transparent-600: rgba(76, 175, 80, 0.48),
    color-info-100: #caf5fc,
    color-info-200: #98e5f9,
    color-info-300: #62c9ed,
    color-info-400: #3ba8dc,
    color-info-500: #057cc6,
    color-info-600: #0360aa,
    color-info-700: #02488e,
    color-info-800: #013272,
    color-info-900: #00245f,
    color-info-transparent-100: rgba(5, 124, 198, 0.08),
    color-info-transparent-200: rgba(5, 124, 198, 0.16),
    color-info-transparent-300: rgba(5, 124, 198, 0.24),
    color-info-transparent-400: rgba(5, 124, 198, 0.32),
    color-info-transparent-500: rgba(5, 124, 198, 0.4),
    color-info-transparent-600: rgba(5, 124, 198, 0.48),
    color-warning-100: #fff2cc,
    color-warning-200: #ffe299,
    color-warning-300: #ffcd66,
    color-warning-400: #ffb93f,
    color-warning-500: #ff9800,
    color-warning-600: #db7900,
    color-warning-700: #b75e00,
    color-warning-800: #934500,
    color-warning-900: #7a3400,
    color-warning-transparent-100: rgba(255, 152, 0, 0.08),
    color-warning-transparent-200: rgba(255, 152, 0, 0.16),
    color-warning-transparent-300: rgba(255, 152, 0, 0.24),
    color-warning-transparent-400: rgba(255, 152, 0, 0.32),
    color-warning-transparent-500: rgba(255, 152, 0, 0.4),
    color-warning-transparent-600: rgba(255, 152, 0, 0.48),
    color-danger-100: #fee6d6,
    color-danger-200: #fdc7ae,
    color-danger-300: #fba186,
    color-danger-400: #f87d67,
    color-danger-500: #f44336,
    color-danger-600: #d12729,
    color-danger-700: #af1b29,
    color-danger-800: #8d1127,
    color-danger-900: #750a26,
    color-danger-transparent-100: rgba(244, 67, 54, 0.08),
    color-danger-transparent-200: rgba(244, 67, 54, 0.16),
    color-danger-transparent-300: rgba(244, 67, 54, 0.24),
    color-danger-transparent-400: rgba(244, 67, 54, 0.32),
    color-danger-transparent-500: rgba(244, 67, 54, 0.4),
    color-danger-transparent-600: rgba(244, 67, 54, 0.48),
  ),
  default,
  default
);